body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #eff2f4;
}


.header {
  display: flex;
  justify-content: center;  
  align-items: center;      
  padding: 40px 20px;
  background-color: #c2e6ee;
  text-align: center;
}

.header-text h1 {
  margin: 0;
  font-size: 32px;
  color: #222;
}

.header-text p {
  margin-top: 8px;
  font-size: 18px;
  color: #555;
}
section {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

h2 {
  color: #333;
}
h2 {
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}

section {
  max-width: 800px;
  margin: auto;
}

ul {
  padding-left: 20px;
}


footer {
  text-align: center;
  padding: 10px;
  background-color: #c2e6ee;
}
section p strong {
  color: #222;      
}
section p {
  line-height: 1.5;
}
