:root {
  --bg-color: #ffffff;          
  --header-footer-bg: #d9d9d96f;  
  --section-border: #d9d9d9;    
  --text-main: #353535;         
  --text-muted: #3c6e71;        
  --heading-color: #284b63;     
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-main);
}


.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  background-color: var(--header-footer-bg);
  text-align: center;
  gap: 20px;
  flex-wrap: wrap;
}

.header-text {
  flex: 1;
  min-width: 250px;
}


.header-text h1 {
  margin: 0;
  font-size: 32px;
  color: var(--heading-color);
}

.header-text p {
  margin-top: 8px;
  font-size: 18px;
  color: var(--text-main);
}


section {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  
}


h2 {
  color: var(--heading-color);
  border-bottom: 2px solid var(--section-border);
  
}



ul {
  padding-left: 20px;
}


footer {
  text-align: center;
  padding: 10px;
  
}


section p strong {
  color: var(--text-main);
}

section p {
  line-height: 1.5;
}


body.dark {
  --bg-color: #282727;          
  --header-footer-bg: #294d4f;  
  --section-border: #3c6e71;    
  --text-main: #ffffff;         
  --text-muted: #d9d9d9;        
  --heading-color: #ffffff;     
}


#theme-toggle {
   position: absolute;
  right: 15px;
  top: 30%;
  
  padding: 8px 12px;
  background-color: transparent;
  border: 0.6px solid var(--text-main);
  color: var(--text-main);
  cursor: pointer;
  border-radius: 4px;
  font-size: 18px;
 
}

#theme-toggle:hover {
  background-color: var(--section-border);
  
}

@media (max-width: 768px) {
  #theme-toggle {
    padding: 6px 10px;
    font-size: 16px;
  }
}

#theme-toggle:hover {
  background-color: var(--text-main);
  
}

footer {
  background-color: var(--header-footer-bg);
}







